/* Reset Styles */
* {
    padding: 0;
    margin: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    margin: 1% 2.5%;
}

#player-cards img, #dealer-cards img{
    margin: 1% 0.25% 1% 0.25%;
}

#in-game-controls {
    display: flex;
    flex-direction: row;
}

#in-game-controls p {
    margin: auto 1% auto 1%;
}

#in-game-controls img {
    cursor: pointer;
    margin: 0 0.2%;
}

/* #hit, #stand, #double-down, #surrender {
    cursor: pointer;
    margin-right: 1%;
} */

a {
    margin-right: 1%;
}

p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: xx-large;
}

img {
    /* user-drag: none; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#homePage {
    text-align: center;
    margin: 2.5%;
}

#homePage p {
    margin: 1%;
}